ul {
    position: relative;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    justify-content: space-between;
    width: 350px;
    margin-left: 35%;
    background-color: #ffffff; 
    text-align: center;
    color: #111111; /*цвет шрифта в обычном состоянии*/
    font-size: 16px; /* Размер шрифта*/
    font-family: Tahoma; /* Стиль шрифта*/
}

body, html{
    width: 100%;
    height: 100%;
}

div.main {
    width: 100w;
  height: 100vh;

  }

  a {
    text-decoration: none;
    font-size: 60px;  
    font-family: "Garamond" serif;
    color: black;
  }

  div.wr {
    position: relative;
    left: 40px;
    top: 80px;
    width: 550px;
  }
